@font-face {
  font-family: "iconfont"; /* Project id 2552896 */
  src: url('iconfont.woff2?t=1621476403513') format('woff2'),
       url('iconfont.woff?t=1621476403513') format('woff'),
       url('iconfont.ttf?t=1621476403513') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Email:before {
  content: "\ea65";
}

.icon-mima:before {
  content: "\e654";
}

.icon-home:before {
  content: "\e665";
}

.icon-remind:before {
  content: "\e618";
}

.icon-home1:before {
  content: "\e61a";
}

.icon-add:before {
  content: "\e642";
}

.icon-shuaxin:before {
  content: "\e604";
}

.icon-touxiang:before {
  content: "\e65f";
}

.icon-anquan:before {
  content: "\e615";
}

.icon-tixing:before {
  content: "\e7f0";
}

.icon-gongdanqueren:before {
  content: "\ec36";
}

.icon-bianji:before {
  content: "\e718";
}

.icon-ziyuan:before {
  content: "\e64a";
}

.icon-laba:before {
  content: "\e610";
}

.icon-gongdan:before {
  content: "\e6ac";
}

.icon-shezhi:before {
  content: "\e60b";
}

.icon-xinzeng:before {
  content: "\e64e";
}

.icon-email:before {
  content: "\e600";
}

